@page "/"
@using LSSD.Bookings
@using Microsoft.Extensions.Configuration
@using WebFrontend.Components
@code {
    [Inject]
    IConfiguration Configuration { get; set; }
    
    [Inject]
    ResourceService _repository { get; set; }

    [Inject]
    ResourceGroupService _groupRepository { get; set; }

    protected override void OnInitialized()
    {
        
    }

}

<AuthorizeView>
    <Authorized>
        
@{
    List<Resource> thisUserResources = _repository.GetForClaims(context.User.Claims.Where(x => x.Type == "groups").Select(x => x.Value).ToList(), Configuration["OIDC:AdminGroupID"]).ToList();
    Dictionary<Guid, List<Resource>> _allResources = new Dictionary<Guid, List<Resource>>();


    foreach(Resource resource in thisUserResources)
    {
        if (resource.IsEnabled)
        {
            if (!_allResources.ContainsKey(resource.GroupGUID))
            {
                _allResources.Add(resource.GroupGUID, new List<Resource>());
            }
            _allResources[resource.GroupGUID].Add(resource);
        }        
    }
}

@if (thisUserResources.Count > 0) {
    <div class="resource_group_container">
    @foreach(ResourceGroup group in _groupRepository.GetAll().OrderBy(x => x.Name))
    {    
        @if (_allResources.ContainsKey(group.Id)) 
        {
            <div class="resource_group">
            <h4>@group.Name</h4>

            @foreach(Resource res in _allResources[group.Id].OrderByDescending(x => x.IsEnabled).ThenBy(x => x.Name)) 
            {
                <div class="resource_item">
                    
                    @if(res.IsEnabled) {

                        <div class="resource_name">
                            <a href="/Resources/@(res.Id)">
                                @if (!string.IsNullOrEmpty(res.HTMLColorCode)) {
                                    <span class="oi oi-calendar" style="color: @(res.HTMLColorCode);"></span>
                                } else {
                                    <span class="oi oi-calendar"></span>
                                }
                                @res.Name
                            </a>
                        </div>
                    } else {
                        <div class="resource_name"><i><span class="oi oi-ban"></span> @res.Name (Disabled)</i></div>
                        <div class="resource_description"><a href="/Resources/@(res.Id)">View disabled calendar</a></div>
                    }                    
                    
                    <div class="resource_description">@res.Description</div>
                    
                </div>            
            }

            </div>
        }
    }    
    </div>
} else {
    <i>You don't appear to have access to any bookable resources. Sorry.</i>
}
<br/>
<div style="display: flex; flex-wrap: wrap; ">
<div class="my_bookings_button">
    <a href="/MyBookings">My Bookings</a>
</div>

@if (context.User.Claims.Select(x => x.Value).Contains(Configuration["OIDC:AdminGroupID"])) {
    <div class="config_button">
        <a href="/Config">Config</a>
    </div>
}
</div>
    </Authorized>
</AuthorizeView>