@page "/Resources/{resourceguid}"
@page "/Resources/{resourceguid}/{year:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}/{day:int}"
@using LSSD.Bookings
@using Microsoft.Extensions.Configuration
@using System.Security.Claims

@code {

    [Inject]
    ResourceService _resourceService { get; set; }

    [Inject]
    IConfiguration _configuration { get; set; }    

    [Inject]
    IConfiguration Configuration { get; set; }

    [Parameter]
    public string resourceguid { get; set; }

    [Parameter]
    public int year { get; set; } = DateTime.Today.Year;

    [Parameter]
    public int month { get; set; } = DateTime.Today.Month;

    [Parameter]
    public int day { get; set; } = DateTime.Today.Day;


    Resource selectedResource = null;

    DateTime today_date = DateTime.Now;

    protected override void OnInitialized()
    {
        if (year == 0) {
            year = DateTime.Now.Year;
        }

        if (month == 0) {
            month = DateTime.Now.Month;
        }

        if (resourceguid != null)
        {
            selectedResource = _resourceService.Get(resourceguid);
        }

        if(!string.IsNullOrEmpty(_configuration["Settings:TimeZone"])) {
            TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById(_configuration["Settings:TimeZone"]);
            today_date = TimeZoneInfo.ConvertTimeFromUtc(DateTime.Now.ToUniversalTime(), timeZone);
        }
    }

    
    protected void OnClick_DisableCalendar(Resource resource)
    {     
        if (resource.IsEnabled) 
        {
            resource.IsEnabled = false; 
            _resourceService.Update(resource);
        }
    }
    
    protected void OnClick_EnableCalendar(Resource resource)
    {     
        if (!resource.IsEnabled) 
        {
            resource.IsEnabled = true;
            _resourceService.Update(resource);
        }
    }
}

<AuthorizeView>
    <Authorized Context="Auth">
        @if(selectedResource == null) {
            <p>Resource not found</p>
        } else {
            bool userCanAccessThisResource = false;
            foreach(Claim claim in Auth.User.Claims.Where(x => x.Type == "groups"))
            {
                if (selectedResource.OIDC_CanEditBookings.Contains(claim.Value) || selectedResource.OIDC_CanViewResource.Contains(claim.Value))
                {
                    userCanAccessThisResource = true;
                }

                if (!string.IsNullOrEmpty(_configuration["OIDC:AdminGroupID"]))
                {
                    if (_configuration["OIDC:AdminGroupID"] == claim.Value)
                    {
                        userCanAccessThisResource = true;
                    }
                }
            }

            @if(userCanAccessThisResource) {
                <h1>@selectedResource.Name</h1>
                <p>@(selectedResource.Description)</p>
                <p>
                    [<a href="/">Back</a>]
                </p>
                @if(selectedResource.IsEnabled) 
                {
                    <p>Click a day to create a booking.</p>
                } else {
                    <div class="card bg-danger text-white mb-3" style="width: 1050px;">
                        <div class="card-body">
                            <h5 class="card-title">Resource is disabled</h5>
                            <p class="card-text">This resource is not currently enabled for booking. New bookings cannot be created until this resources is enabled again. You may still view or cancel existing bookings.</p>
                        </div>
                    </div>                    
                }
                

                <WebFrontend.Components.CalendarMonthlyViewComponent resource="@selectedResource" Year="@year" Month="@month" Today="@(today_date)" BookingWindowDays="@(selectedResource.BookingWindowDays)" />
                <br/><br/>
                

                IEnumerable<string> userclaims = Auth.User.Claims.Select(x => x.Value);
                @if (
                    selectedResource.OIDC_CanEditBookings.Intersect(userclaims).Any() ||
                    userclaims.Contains(Configuration["OIDC:AdminGroupID"])
                )
                {
                    <div style="text-align: right;">
                    @if(selectedResource.IsEnabled) 
                    {
                         
                        <button type="button" @onclick="() => OnClick_DisableCalendar(selectedResource)" class="btn btn-outline-danger">Disable this calendar</button>
                    } else {
                        <div class="card bg-danger text-white mb-3" style="text-align: left; width: 1050px;">
                            <div class="card-body">
                                <h5 class="card-title">Resource is disabled</h5>
                                <p class="card-text">This resource is not currently enabled for booking. New bookings cannot be created until this resources is enabled again. You may still view or cancel existing bookings.</p>
                            </div>
                        </div>
                        <button type="button" @onclick="() => OnClick_EnableCalendar(selectedResource)" class="btn btn-success">Enable this calendar</button>
                    }
                    </div>
                }
            } else {
                <a href="/">Back</a><br/>
                <i>Sorry, you don't appear to be able to access this resource. Sorry.</i>
            }
        }
    </Authorized>
</AuthorizeView>