@page "/Resources/{resourceguid}"
@page "/Resources/{resourceguid}/{year:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}/{day:int}"
@using LSSD.Bookings

@code {

    [Inject]
    ResourceService _resourceService { get; set; }

    [Parameter]
    public string resourceguid { get; set; }

    [Parameter]
    public int year { get; set; } = DateTime.Today.Year;
    
    [Parameter]
    public int month { get; set; } = DateTime.Today.Month;
    
    [Parameter]
    public int day { get; set; } = DateTime.Today.Day;
    

    Resource selectedResource = null;   

    protected override void OnInitialized()
    {
        if (year == 0) {
            year = DateTime.Now.Year;
        }

        if (month == 0) {
            month = DateTime.Now.Month;
        }

        if (resourceguid != null) 
        {
            selectedResource = _resourceService.Get(resourceguid);
        }            
    } 
}

<AuthorizeView>
    <Authorized>
        @if(selectedResource == null) {
            <p>Resource not found</p>
        } else {
            <h1>@selectedResource.Name</h1>
            <p>@(selectedResource.Description)</p>
            <p>
                [<a href="/">Back</a>]
            </p>
            <p>
                Click a day to create a booking.
            </p>
            <hr/>
            <WebFrontend.Components.CalendarMonthlyViewComponent resourceGuid="@selectedResource.Id" Year="@year" Month="@month" Today="@(DateTime.Now)" />
        }
    </Authorized>
</AuthorizeView>