@page "/Resources/{resourceguid}"
@page "/Resources/{resourceguid}/{year:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}"
@page "/Resources/{resourceguid}/{year:int}/{month:int}/{day:int}"
@using LSSD.Bookings
@using Microsoft.Extensions.Configuration
@using System.Security.Claims

@code {

    [Inject]
    ResourceService _resourceService { get; set; }

    [Inject]
    IConfiguration _configuration { get; set; }    


    [Parameter]
    public string resourceguid { get; set; }

    [Parameter]
    public int year { get; set; } = DateTime.Today.Year;

    [Parameter]
    public int month { get; set; } = DateTime.Today.Month;

    [Parameter]
    public int day { get; set; } = DateTime.Today.Day;


    Resource selectedResource = null;

    DateTime today_date = DateTime.Now;

    protected override void OnInitialized()
    {
        if (year == 0) {
            year = DateTime.Now.Year;
        }

        if (month == 0) {
            month = DateTime.Now.Month;
        }

        if (resourceguid != null)
        {
            selectedResource = _resourceService.Get(resourceguid);
        }

        if(!string.IsNullOrEmpty(_configuration["Settings:TimeZone"])) {
            TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById(_configuration["Settings:TimeZone"]);
            today_date = TimeZoneInfo.ConvertTimeFromUtc(DateTime.Now.ToUniversalTime(), timeZone);
        }
    }
}

<AuthorizeView>
    <Authorized Context="Auth">
        @if(selectedResource == null) {
            <p>Resource not found</p>
        } else {
            bool userCanAccessThisResource = false;
            foreach(Claim claim in Auth.User.Claims.Where(x => x.Type == "groups"))
            {
                if (selectedResource.OIDC_CanEditBookings.Contains(claim.Value) || selectedResource.OIDC_CanViewResource.Contains(claim.Value))
                {
                    userCanAccessThisResource = true;
                }

                if (!string.IsNullOrEmpty(_configuration["OIDC:AdminGroupID"]))
                {
                    if (_configuration["OIDC:AdminGroupID"] == claim.Value)
                    {
                        userCanAccessThisResource = true;
                    }
                }
            }

            @if(userCanAccessThisResource) {
                <h1>@selectedResource.Name</h1>
                <p>@(selectedResource.Description)</p>
                <p>
                    [<a href="/">Back</a>]
                </p>
                <p>
                    Click a day to create a booking.
                </p>

                <WebFrontend.Components.CalendarMonthlyViewComponent resourceGuid="@selectedResource.Id" Year="@year" Month="@month" Today="@(today_date)" BookingWindowDays="@(selectedResource.BookingWindowDays)" />
            } else {
                <a href="/">Back</a><br/>
                <i>Sorry, you don't appear to be able to access this resource. Sorry.</i>
            }
        }
    </Authorized>
</AuthorizeView>